[Unit]
Description=PowerNap
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/share/powernap/powernap-ethtool
ExecStart=/usr/sbin/powernapd

[Install]
WantedBy=multi-user.target
