#!/usr/bin/make -f

PKG=powernap
VER=`head -n 1 debian/changelog | sed 's/^.*(//' | sed 's/).*//' | sed 's/-.*//'`

get-orig-source:
	dh_testdir
	bzr export ../${PKG}_${VER}.orig.tar.gz

%:
	dh $@ --with python3

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start --name=powernap
	dh_installsystemd --name=powerwaked
